a{
    text-decoration: none;
}

.xp h4, h5{
    display: inline-block;
}

.xp h5 {
    font-weight:400;
    color: #495057;
}

.xp span{
    margin-right: 10px;
    margin-left: 10px;
    font-size: 25px;
    font-weight: lighter;
}

.text-center{
    float: right;
    margin-right: 30%;
}

input{
    margin-bottom: 7px;
}

span h2, p {
    margin-top: 5px;
}