
.project-title {
    margin: 10px;
    max-width: 250px;
    text-decoration: none;
    transition: transform 0.3s ease;
  }
  
  .project-title:hover {
    transform: scale(1.1);
  }
  
   p {
    font-size: 20px;
    margin-top: 10px;
    color: rgb(32, 28, 28);
  }
  .project-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 20px auto 0;
  }
  
  .project-title img {
    max-width: 80%;
  }