<div class="row m-4 p-1 bg-body rounded shadow">
  <h2>Educación</h2>

  <div class="col-md-12 col-lg-12" *ngFor="let education of educacion">
    <div class="text-center">
      <a class="btn-sm btn-primary tooltips"
      data-placement="top"
      data-toogle="tooltip"
      data-original-title="Edit">
    <i class="fa fa-pencil"></i></a>
    <a class="btn-sm btn-danger tooltips"
      data-placement="top"
      data-toogle="tooltip"
      data-original-title="Delete">
    <i class="fa fa-times"></i></a>
    </div>
    
    <h4>
      <a href="#"
        ><img
          class="img-rounded m-1"
          width="65"
          height="60"
          src="{{education.imagenEdu}}"
        />
        {{education.tituloEdu}}
      </a>
    </h4>
    
    <small>{{education.descripcionEdu}}</small>
    <p class="text-secondary">{{education.fechaEdu}}</p>
  </div>

  
</div>
