a{
    text-decoration: none;
}

.boton{
    float: right;
    position: relative;
    margin: 0;
}

.boton button{

}

.boton button a{
    text-align: center;
    width: 20px;
    height: 30px;
}

.boton button a i {
  position: absolute;
  top: 125%;
  left: 93%;
  margin: -25px 0 0 -25px;
}

h2{
    display: inline-block;
}

.text-center{
    float: right;
    margin-right: 30%;
}

p{
    display: inline-block;
    margin-left: 8px;
}