*{
  margin : 0;
}

#banner {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

#main-profile {
  position: relative;
}

#profile-img {
  width: 200px;
  height: 200px;
  position: absolute;
  top: -60px;
  left: 60px;
  z-index: 1;
}

/* #05668d #8b8c89 #22333b #5e6572 #6c757d #495057

*/
#titulo{
  color: #495057;
  font-weight: 700;
}

span {
  height: 130px;
  
}

span a{
  text-decoration: none;
}


@media (min-width: 576px){
  #main-profile{
    position: absolute;
    width: 15%;
    border-radius: 100%;
    box-shadow: 3px 3px 3px grey;
    left: 3%;
    top: 430px;
  }

  .container-fluid{
    display: flex;
    justify-content: left;
    padding: 0px;
  }
}

@media (max-width: 575px){
  #main-profile{
    position: absolute;
    width: 30%;
    border-radius: 100%;
    box-shadow: 3px 3px 3px grey;
    left: 22%;
    top: 280px;
  }


  #data-name{
    margin-top: 60px;
  }

  .container-fluid {
    display: flex;
    justify-content: center;
    margin-top: 5px;
  }
}



