<div id="main-container">
  <div class="row m-4 p-1 bg-body rounded shadow">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg12">
      <div class="img-fluid" *ngIf="usuario">
        <img
          id="banner"
          src="{{usuario.fotoHeader}}"
          alt="Banner del sitio"
        />
      </div>
    </div>
  <div>
  </div>


    <div *ngIf="usuario" class="row" id="main-profile">

      <div class="col-xs-2 col-sm-2 col-md-2 col-lg2">
        <img
          src="{{usuario.fotoPerfil}}"
          alt="Foto de perfil"
          class="img-fluid border border-dark border-2 rounded-circle"
          id="profile-img"
        />
      </div>
    </div>

    <span class="espacio"> 
      <div class="col-lg-10" class="boton" *ngIf="isLogged" >
        <button class="boton" class="btn btn-outline-dark border-2 mt-5" type="button"  (click)="onOpenModal('edit', usuario)">Editar Perfil
        </button>
    </div>
    </span>
    <div class="row" id="data-name">
      <div *ngIf="usuario" class="col-xs-5 col-sm-5 col-md-12 col-lg12">
       <h1>{{usuario.nombre}} {{usuario.apellido}}</h1>
        <p id="titulo">{{usuario.titulo}}</p>
        <span> Esperanza, Santa Fe. Argentina. </span>
      </div>
    </div>

    <div class="row ">
      <div *ngIf="usuario" class="col-md-12 col-lg-11 mt-3">
          <div>
            <h5>Acerca de mi </h5>
              <code>{{usuario.descripcion}}</code>
          </div>
      </div>

  </div>
  

  
  <!-- MODAL EDIT PERFIL -->
    <div
    class="modal fade"
    id="editUsuarioModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="usuarioEditModalLabel"
    aria-hidden="true"
    >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
        <h5>Editar perfil</h5>
          <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="close"
          >
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #editForm='ngForm'>
            <div class="form-group">
              <input type="text"
                ngModel="{{editUsuario?.nombre}}"
                name="nombre"
                class="form-control"
                id="nombre"
                placeholder="Nombre"
                required
              >
            </div>
    
            <div class="form-group">
              <input type="text"
                ngModel="{{editUsuario?.apellido}}"
                name="apellido"
                class="form-control"
                id="apellido"
                placeholder="Apellido"
                required
              >
            </div>
    
            <div class="form-group">
              <input type="text"
                ngModel="{{editUsuario?.titulo}}"
                name="titulo"
                class="form-control"
                id="titulo"
                placeholder="Profesion"
                required
              >
            </div>

            
            <div class="form-group">
              <input type="text"
                ngModel="{{editUsuario?.descripcion}}"
                name="descripcion"
                class="form-control"
                id="descripcion"
                placeholder="Acerca de mí"
                required
              >
            </div>
    
            <input 
              type="hidden"
              ngModel="{{ editUsuario?.id }}"
              name="id"
              class="form-control"
              placeholder=""
            >
    
            <div class="form-group">
              <input type="text"
                ngModel="{{editUsuario?.fotoPerfil}}"
                name="fotoPerfil"
                class="form-control"
                id="fotoPerfil"
                placeholder="Url de tu imagen de perfil"
                required
              >
            </div>
    
            <div class="form-group">
              <input type="text"
                ngModel="{{editUsuario?.fotoHeader}}"
                name="fotoHeader"
                class="form-control"
                id="fotoHeader"
                placeholder="Url para tu imagen de encabezado"
                required
              >
            </div>
    
          
            <div class="model-footer d-flex justify-content-center">
    
              <button
              (click)="onUpdateUsuario(editForm.value)"
              type="submit"
              data-dismiss="modal"
              class="btn btn-success m-1"
              > Añadir cambios
              </button>
    
              <button
                type="button"
                id=""
                class="btn btn-secondary m-1"
                data-dismiss="modal"
              >
            Cerrar
            </button>
    
            </div>
          </form>
        </div>
    
        
      </div>
    </div>
    </div>
</div>

  
