#banner {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

#profile-img {
  width: 200px;
  height: 200px;
  margin-top: -104px;
  margin-left: 20px;
}

input {
  margin-bottom: 7px;
}

code {
  color: #495057;
}

/* #495057 #028090 */
#titulo {
  color: #028090;
  font-weight: 700;
  text-align: justify;
}
