<div class="row m-4 p-1 bg-body rounded shadow">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg12">
    <div class="img-fluid">
      <img
        id="banner"
        src="../../../assets/banner.jpg"
        alt="Banner del sitio"
      />
    </div>
  </div>

  <div class="row" id="main-profile">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg2">
      <img
        src="../../../assets/foto-perfil.jpg"
        alt="Foto de perfil"
        class="img-fluid border border-primary border-1 rounded-circle"
        id="profile-img"
      />
    </div>
  </div>
  <span class="espacio"></span>
  <div class="row">
    <div class="col-xs-5 col-sm-5 col-md-12 col-lg12">
      <h1>Tomás Banchio</h1>
      <p>Desarollador Web</p>
      <span> Esperanza, Santa Fe. Argentina </span>
      <span><a href="a">Información de contacto</a></span>
    </div>

    <div class="col-xs-5 col-sm-5 col-md-12 col-lg12">
      <div id="info-actionn ">
        <button type="button" class="btn btn-primary m-1">
          Tengo interés en
        </button>
        <button type="button" class="btn btn-primary m-1">
          Añadir Sección
        </button>
        <button type="button" class="btn btn-primary m-1">Más</button>
      </div>
    </div>
  </div>
</div>
