<div class="row m-4 p-1 bg-body rounded shadow">
  <h2>Cursos y capacitaciones</h2>
  <br><br><br>
  <div class="col-md-12 col-lg-12">
    <h4>
      <a href="#"
        ><img src="../../../assets/cessi.png" width="60" height="60" />
        Argentina Programa</a
      >
    </h4>
    <small>Ministerio de desarrollo productivo y Cessi.</small>
    <p class="text-secondary">Año 2021-2022</p>
  </div>
  <div class="col-md-12 col-lg-12">
    <h4>
      <a href="#"
        ><img src="../../../assets/utnfrra.png" width="60" height="60" />
        Diplomatura en Programación Web FullStack</a
      >
    </h4>
    <small
      >UTN Facultad Regional Resistencia. Modalidad a distancia. 210.00
      hs.</small
    >
    <p class="text-secondary">Año 2021</p>
  </div>
  <div class="col-md-12 col-lg-12">
    <h4>
      <a href="#"
        ><img src="../../../assets/fcc_blancol.svg" width="60" height="60" />
        Responsive Web Design</a
      >
    </h4>
    <small
      >FreeCodeCamp. Developer Certification. 300 hours of coursework.</small
    >
    <p class="text-secondary">Año 2021</p>
  </div>
  <div class="col-md-12 col-lg-12">
    <h4>
      <a href="#"
        ><img src="../../../assets/utnfrra.png" width="60" height="60" />
        Programación web con PHP y MySQL</a
      >
    </h4>
    <small
      >UTN Facultad Regional Resistencia. Modalidad a distancia. 120.00
      hs.</small
    >
    <p class="text-secondary">Año 2021</p>
  </div>
</div>
