<nav class="navbar navbar-expand-sm bg-dark navbar-dark p-0">
  <div class="container-fluid">
    <div class="img ml-5">
      <a class="navbar-brand waves-effect waves-light" href="https://tomasbanchiodev.web.app/">
        <img src="../../../assets/APLogo.png" alt="Logo" style="width:170px; height: 80px;" class="rounded-pill">
      </a>
    </div>
  </div>
  <div class="float-right m-3" class="botones">
    <div class="col-lg-3 m-0 d-flex justify-content-between align-items-center">
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" href="https://linkedin.com/in/tbanchio" target="_blank">
            <i class="fab fa-linkedin fa-lg"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" href="https://github.com/tomiban" target="_blank">
            <i class="fab fa-github fa-lg"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" href="https://twitter.com/omitirtodo" target="_blank">
            <i class="fab fa-twitter fa-lg"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" href="https://www.instagram.com/tbanchio/" target="_blank">
            <i class="fab fa-instagram fa-lg"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" href="https://www.facebook.com/Banchiooo/" target="_blank">
            <i class="fab fa-facebook fa-lg"></i>
          </a>
        </li>
      </ul>
      <button type="button" class="btn btn-outline-light btn-sm ms-2" (click)="login()" *ngIf="!isLogged">Ingresar</button>
        <button type="button" class="btn btn-outline-light  ms-2" (click)="onLogOut()" *ngIf="isLogged">Cerrar sesión</button>
    </div>

  </div>
  
  
    
  
</nav>
