<div>
    <a href="www.linkedin.com/in/tbanchio"><img id="linkedin" src="../../../assets/linkedin.png" alt="Linkedin"></a>
    <a href="https://github.com/tomiban"><img id='github' src="../../../assets/github.png" alt="GitHub"></a>
    <a href="https://twitter.com/omitirtodo"><img id='twitter' src="../../../assets/twitter.png" alt="Twitter"></a>
    <a href="https://www.instagram.com/tbanchio/"><img id="instagram" src="../../../assets/instagram.png" alt="Instagram"></a>
    <a href="https://www.facebook.com/Banchiooo/"><img id="facebook" src="../../../assets/facebook.png" alt="Facebook"></a>
</div>
