<div class="row m-4 p-2 bg-body rounded shadow">
    <h2>Hard & Soft Skills </h2>
 <div class="text-center col-sm-3 col-md-2 col-lg2">
    <circle-progress
    [percent]="90"
    [radius]="70"
    [title]="'85'"
    [showTitle]="true"
    [titleColor]="''"
    [titleFontSize]="'3em'"
    [showUnits]="true"
    [showSubtitle]="false"
    [imageSrc]="'../../../assets/html.png'"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#ff3300'"
    [innerStrokeColor]="'#ff6600'"
    [animation]="true"
    [animationDuration]="700"
    [lazy]="true"
  ></circle-progress>
</div>

<div class="text-center col-sm-3 col-md-2 col-lg2">
    <circle-progress
    [percent]="77"
    [radius]="70"
    [title]="'85'"
    [showTitle]="true"
    [titleColor]="'red'"
    [titleFontSize]="'3em'"
    [showUnits]="true"
    [showSubtitle]="false"
    [imageSrc]="'../../../assets/CSS.png'"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="70"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#0000CD'"
    [innerStrokeColor]="'#1E90FF'"
    [animation]="true"
    [animationDuration]="600"
    [lazy]="true"
  ></circle-progress>
</div>

<div class="text-center col-sm-3 col-md-2 col-lg2">
    <circle-progress
    [percent]="70"
    [radius]="70"

    [titleColor]="'red'"

    [showSubtitle]="false"
    [imageSrc]="'../../../assets/js.png'"
    [showImage]="true                                                                                                     "                                                                                                                                 
    [imageHeight]="84"
    [imageWidth]="68"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#FFFF1E'"
    [innerStrokeColor]="'#FFFF46'"
    [animation]="true"
    [animationDuration]="600"
    [lazy]="true"
  ></circle-progress>
</div>

<div class="text-center col-sm-3 col-md-2 col-lg2">
    <circle-progress
    [percent]="50"
    [radius]="70"
    [title]="'85'"
    [showTitle]="true"
    [titleColor]="'red'"
    [titleFontSize]="'3em'"
    [showUnits]="true"
    [showSubtitle]="false"
    [imageSrc]="'../../../assets/php.svg'"
    [showImage]="true"
    [imageHeight]="200"
    [imageWidth]="100"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#474973'"
    [innerStrokeColor]="'#A69CAC'"
    [animation]="true"
    [animationDuration]="600"
    [lazy]="true"
  ></circle-progress>
</div>

<div class="text-center col-sm-3 col-md-2 col-lg2">
  <circle-progress
  [percent]="30"
  [radius]="70"
  [title]="'85'"
  [showTitle]="true"
  [titleColor]="'red'"
  [titleFontSize]="'3em'"
  [showUnits]="true"
  [showSubtitle]="false"
  [imageSrc]="'../../../assets/net.png'"
  [showImage]="true"
  [imageHeight]="100"
  [imageWidth]="100"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="2"
  [outerStrokeColor]="'#7209b7'"
  [innerStrokeColor]="'#7209b7'"
  [animation]="true"
  [animationDuration]="600"
  [lazy]="true"
></circle-progress>
</div>
<div class="text-center col-sm-3 col-md-2 col-lg2">
    <circle-progress
    [percent]="90"
    [radius]="70"
    [title]="'85'"
    [showTitle]="true"
    [titleColor]="'red'"
    [titleFontSize]="'3em'"
    [showUnits]="true"
    [showSubtitle]="false"
    [imageSrc]="'../../../assets/git.png'"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#0C090D'"
    [innerStrokeColor]="'#7A7265'"
    [animation]="true"
    [animationDuration]="600"
  ></circle-progress>
</div>
<div class="text-center col-sm-3 col-md-2 col-lg2">
    <circle-progress
    [percent]="78"
    [radius]="70"
    [title]="'85'"
    [showTitle]="true"
    [titleColor]="'red'"
    [titleFontSize]="'3em'"
    [showUnits]="true"
    [showSubtitle]="false"
    [imageSrc]="'../../../assets/eng.png'"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="70"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#7C898B'"
    [innerStrokeColor]="'#93A3B1'"
    [animation]="true"
    [animationDuration]="600"
  ></circle-progress>
</div>
<div class="text-center col-sm-3 col-md-2 col-lg2">
    <circle-progress
    [percent]="70"
    [radius]="70"
    [title]="'85'"
    [showTitle]="true"
    [titleColor]="'red'"
    [titleFontSize]="'3em'"
    [showUnits]="true"
    [showSubtitle]="false"
    [imageSrc]="'../../../assets/grupal.png'"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#7C898B'"
    [innerStrokeColor]="'#93A3B1'"
    [animation]="true"
    [animationDuration]="600"
  ></circle-progress>
</div>
<div class="text-center col-sm-3 col-md-2 col-lg2">
    <circle-progress
    [percent]="80"
    [radius]="70"
    [title]="'85'"
    [showTitle]="true"
    [titleColor]="'red'"
    [titleFontSize]="'3em'"
    [showUnits]="true"
    [showSubtitle]="false"
    [imageSrc]="'../../../assets/flexibilidad.png'"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#7C898B'"
    [innerStrokeColor]="'#93A3B1'"
    [animation]="true"
    [animationDuration]="600"
  ></circle-progress>
</div>


</div>
