<div class="row m-4 p-2 bg-body rounded shadow">
  <div class="col-md-12 col-lg-12">
    <span>
      <h2>Experiencia</h2>
      <h4>Back Office</h4>
    </span>
      <span>
      <p>Ecca Constructora - Pasantía universitaria <br> <small>Redacción de contratos, informes y presentaciones. Carga y gestión de
        base de datos y documentación. Publicaciones en portales de venta online.</small></p>
      <p class="text-secondary">Septiembre 2020 - Octubre 2021</p>
    </span>
    
    </div>
  </div>

